@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid beige;
  display: inline-block;
}

.profile-picture-large {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid beige;
  display: inline-block;
}